#navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
}
#nav-items {
    display: flex;
    position:absolute; right:20px; top: 60px;
    width: 450px;
    align-items: right;
    justify-content: space-around;
    list-style: none;
}
#logo-container {
    position:absolute; left:100px; top:35px;
}
#contacting .heading p {
    font: bold;
    font-size: 40px;
}
#contacting .instagram p{
    font-size: 20px;
}
#contacting .email p{
    font-size: 20px;
}
#contacting .linkedin p{
    font-size: 20px;
}
#contacting .instagram a{
    position: absolute; top: 20px;
    font-size: 20px;
}
#instaitems {
    position:absolute; left:0; top: 180px;
    display: flex;
    list-style: none;
}
#contacting .email a{
    position: absolute; top: 20px;
    font-size: 20px;
}
#emailitems {
    position:absolute; left:0; top: 210px;
    display: flex;
    list-style: none;
}
#contacting .linkedin a{
    position: absolute; top: 20px;
    font-size: 20px;
}
#linkedinitems {
    position:absolute; left:0; top: 240px;
    display: flex;
    list-style: none;
}
#contacting .ending h1{
    font-size: 30px;
    position: absolute; top: 320px; left:40px;
}
#contacting .ending h{
    font-size: 25px;
    position: absolute; top: 310px; left:40px;
}
#contacting .ending p{
    font-size: 20px;
    position: absolute; top: 360px; left:40px;
}